## IMPORT THE LIBRARIES

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## MAKE A REQUEST

In [2]:
url = 'https://www.skysports.com/premier-league-table'


with requests.Session() as session:
    
    info = session.get(url)
    soup = BeautifulSoup(info.text, 'html.parser')

## TABLE EXTRACTION

In [3]:
html_table = soup.find("table",{"class" : "standing-table__table" })

In [4]:
data = pd.read_html( html_table.prettify().replace(",",".") )[0]

In [5]:
data

     #                      Team  Pl   W  D   L   F   A  GD  Pts  Last 6
0    1                 Liverpool  17   9  6   2  37  21  16   33     NaN
1    2         Manchester United  16  10  3   3  33  24   9   33     NaN
2    3            Leicester City  17  10  2   5  31  21  10   32     NaN
3    4         Tottenham Hotspur  16   8  5   3  29  15  14   29     NaN
4    5           Manchester City  15   8  5   2  24  13  11   29     NaN
5    6               Southampton  17   8  5   4  26  19   7   29     NaN
6    7                   Everton  16   9  2   5  26  20   6   29     NaN
7    8               Aston Villa  15   8  2   5  29  16  13   26     NaN
8    9                   Chelsea  17   7  5   5  32  21  11   26     NaN
9   10           West Ham United  17   7  5   5  24  21   3   26     NaN
10  11                   Arsenal  17   7  2   8  20  19   1   23     NaN
11  12              Leeds United  17   7  2   8  30  33  -3   23     NaN
12  13   Wolverhampton Wanderers  17   6  4   7  18  24  -6   22     NaN
13  14            Crystal Palace  17   6  4   7  22  29  -7   22     NaN
14  15          Newcastle United  16   5  4   7  18  26  -8   19     NaN
15  16                   Burnley  15   4  4   7   9  20 -11   16     NaN
16  17  Brighton and Hove Albion  17   2  8   7  21  28  -7   14     NaN
17  18                    Fulham  15   2  5   8  13  23 -10   11     NaN
18  19      West Bromwich Albion  17   1  5  11  11  39 -28    8     NaN
19  20          Sheffield United  17   0  2  15   8  29 -21    2     NaN

In [6]:
data=data.drop(['Last 6'],axis=1)

In [7]:
data

     #                      Team  Pl   W  D   L   F   A  GD  Pts
0    1                 Liverpool  17   9  6   2  37  21  16   33
1    2         Manchester United  16  10  3   3  33  24   9   33
2    3            Leicester City  17  10  2   5  31  21  10   32
3    4         Tottenham Hotspur  16   8  5   3  29  15  14   29
4    5           Manchester City  15   8  5   2  24  13  11   29
5    6               Southampton  17   8  5   4  26  19   7   29
6    7                   Everton  16   9  2   5  26  20   6   29
7    8               Aston Villa  15   8  2   5  29  16  13   26
8    9                   Chelsea  17   7  5   5  32  21  11   26
9   10           West Ham United  17   7  5   5  24  21   3   26
10  11                   Arsenal  17   7  2   8  20  19   1   23
11  12              Leeds United  17   7  2   8  30  33  -3   23
12  13   Wolverhampton Wanderers  17   6  4   7  18  24  -6   22
13  14            Crystal Palace  17   6  4   7  22  29  -7   22
14  15          Newcastle United  16   5  4   7  18  26  -8   19
15  16                   Burnley  15   4  4   7   9  20 -11   16
16  17  Brighton and Hove Albion  17   2  8   7  21  28  -7   14
17  18                    Fulham  15   2  5   8  13  23 -10   11
18  19      West Bromwich Albion  17   1  5  11  11  39 -28    8
19  20          Sheffield United  17   0  2  15   8  29 -21    2